* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
}

.game-area {
    display: flex;
    justify-content: space-around;
}

.title-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 20rem;
    width: 14rem;
}

.card-slot {
    height: 20rem;
    width: 14rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    line-height: 100%;
    position: relative;
}

.visible-cards {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, black, red);
}

.player1-area {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player2-area {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card.red {
    color: rgb(233, 12, 12);
}

.card.black {
    color: rgb(0, 0, 0);
}

.hand {
    margin-right: 20px;
}

.draw-button {
    height: 40px;
    width: 100px;
    margin-top: 10px;
    color: black;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

#player1-name {
    font-size: 30px;
}

#player2-name {
    font-size: 30px;
}

.deck {
    font-size: 30px;
}

.text {
    font-size: 30px;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 2rem;
}

.card::before {
    top: .5rem;
    left: .5rem;
    transform: translateY(-35%);
}

.card::after {
    bottom: .1rem;
    right: .5rem;
    transform: rotate(180deg);
    transform: translateY(30%);
}